<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7 no-js"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html class="lt-ie10 ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js">  <!--<![endif]-->
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' media="all" href="{{path '/css/main.css' }}" />

	<link rel="canonical" href="{{ location.href }}">
  <title>Preview: {{ this._target.title }}</title>
	<script type="text/javascript">
	var html = document.getElementsByTagName('html')[0];
	html.className = html.className.replace( /(?:^|\s)no-js(?!\S)/g , 'js' );
	</script>
</head>
<body style="background-color: #32c6b6">

{{{ yield }}}
<script type="text/javascript" src="{{path '/js/build.js' }}"></script>
</body>
</html>
