<fieldset class="mi-at-input__fieldset{{ modifier_classes }}">
	<input
		{{#if required}}required{{/if}}
		id="mi-at-input-{{ id }}"
		class="mi-at-input mi-at-input--{{ type }}"
		type="{{ type }}"
		value=""
		onkeyup="this.setAttribute('value', this.value);"
		{{#if placeholder}}placeholder="{{ placeholder }}"{{/if}}
	/>
	<label for="mi-at-input-{{ type }}" class="mi-at-text{{ label_modifier_classes }}">
		{{ label }}{{#if required}} *{{/if}}
	</label>
</fieldset>
